##########
# CONFIG #
##########
.DS_Store
.idea
.iml
.project
/intellij-haxe.iml

##########
# GRADLE #
##########
.gradle/

##########
# OUTPUT #
##########
out/
/*/gen/
/*/build/
/build_test/
intellij-haxe*.jar

################
# DEPENDENCIES #
################
/idea-IU
